 {% extends 'model_page.html' %}
 {% block content %}
    <form action="submit" method='POST'> {% csrf_token %}
        <div>
            <label for="">Digite um nome de usuário</label><br><br>
            <input type="text" name='usuario'><br><br>
            <label for="">Digite um email válido</label><br><br>
            <input type="email" name='email'><br><br>
            <label for="">Digite uma senha</label><br><br>
            <input type="password" name='password'><br><br><br>

            <button type='submit'>Cadastrar</button>
        </div>
    </form>



 {% endblock %}