<!DOCTYPE html>
<html lang='pt-br'>
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>

</head>
<body style='margin-top:15%;display:flex; justify-content:center;align-items:space-around;'>
    <form action='submit' method='POST'>{% csrf_token %}
    <div align='center' style='border-radius:10%; background : #AEC0EF ; width :250px;height:250px; position:absolute;'>
        <h1 style='background:blue; color:white'>Login</h1><br>
        <label >Usuário</label><br>
        <input type="text" name='username'><br><br>
        <label >Password</label><br>
        <input type="password" name='password'><br><br>
        <button type='submit'> Entrar</button>
    </div>
    <div style='margin-top:280px'>
        <label for="">Não é cadastrado?</label>
        <label for="">Cadastre se <a href="cadastro/">aqui</a></label>
    </div>
    </form>
    
    {% for message in messages %}
    <div align='center' style='margin-bottom:145px;'>
    <strong>Error! </strong>{{message}}
    </div>
    {% endfor %}

</body>


</html>


